h1 {
  color: red;
}
.body{
    background-color: #afafaf;
    height: 50px;
}

.header{
    height: 50px;
    display: flex
}
.logo{
    width: 30%;
    background-color: #ccc;
}
.menu{
    width: 70%;
    background-color: #afafaf;
}
